<!Doctype HTML>
<html lang="en">
  <head>
    <meta name ="viewport" content="width=device-width, initial-scale=1">
    <title>StayUncle</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/css/font-awesome.min.css">
      <style>
          html{
          background-color:#eee;
          }
          select{
    font-size:40px;

}
      </style>
  </head>
  <body>
      <div class="col-md-10 text-center col-md-offset-1">
          <h3 class="text-center">StayUncle</h3>
      <h2>So you are visiting <em>Delhi</em>. We'd like to know more about your visit to help you better.</h2>
    <h2>When are you visiting?</h2><input type="date" name="bday"> <h2>How many of you are visiting?</h2> 
          <h1 style="height: 100px;"><select id="guests" name="guests" data-reactid=".1.0.0.$=13:0.1.0"><option value="1" data-reactid=".1.0.0.$=13:0.1.0.$1">1 Guest</option><option value="2" data-reactid=".1.0.0.$=13:0.1.0.$2">2 Guests</option><option value="3" data-reactid=".1.0.0.$=13:0.1.0.$3">3 Guests</option><option value="4" data-reactid=".1.0.0.$=13:0.1.0.$4">4 Guests</option><option value="5" data-reactid=".1.0.0.$=13:0.1.0.$5">5 Guests</option>></select></h1>
       
      </div> 
    </div>
    <script src="/js/bootstrap.min.js"></script>
  </body>
  </html>
